body {
	background-color: black;
	/*    font-family: "Courier New", Courier, monospace; */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}
p {
	color: white;
	font-size: 11;
}
label {
	color: white;
}

/* Navbar */

.navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: red;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Select box */
.select-box {
	padding: 5px;
	width: 45ch;
	overflow: hidden;
}
.movie-select {
	width: 40ch;
	/* overflow: hidden; */
}

/* Gallery  */

/* .thimb-div {
	align-items: center;
	justify-content: center;
} */

.thumb-img {
	padding: 0px;
	border: 2px solid black;
	margin: auto;
	/* max-width: 100%; */
	/* max-height: 100%; */
}

/* Zoom screen */

.zoom-div {
	display: none;
	max-height: 80%;
}
.zoom-img {
	display: none;
	max-width: 1200px;
	/* max-height: 80%; */
}

.caption {
	color: #006eff;
	text-align: center;
}

/* Selections screen */

.selections-screen {
	display: none;
}
.selected-row {
	max-width: 90%;
	height: auto;
}
.selected-img {
	max-width: 100%;
	height: auto;
	padding: 0px;
	border: 2px solid black;
}
.overlay {
	color: white;
	width: 10px;
	text-align: right;
	/* position: absolute;
	top: 0px;
	left: 16px; */
	/* padding: 10px 20px; */
	/* background: rgb(0, 0, 0); */
	/* background: rgba(0, 0, 0, 0.5); */
}

/* Confirm screen */

.confirmed-row {
	max-width: 350%;
}

/* Table */

table {
	font-family: arial, sans-serif;
	background-color: white;
	color: black;
	border-collapse: collapse;
	max-width: 90%;
}
td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

/* Buttons */

.btn {
	max-width: fit-content;
	padding: 5px 15px;
	margin: 5px;
}

.show-selections-btn {
	background-color: green;
	color: white;
}
.clear-selections-btn {
	/* pointer-events: none; */
	background-color: red;
	color: white;
}
.confirm-btn {
	display: none;
	background-color: green;
	color: white;
}
.reset-btn {
	display: none;
	background-color: red;
	color: white;
}
.copy-btn {
	display: none;
	background-color: green;
	color: white;
}
.back-btn {
	display: none;
	background-color: dimgray;
	color: white;
}
.close-btn {
	display: none;
	background-color: rgb(78, 76, 76);
	color: white;
}

/* Thumb highlights */

.selected {
	padding: 0px;
	border: 2px solid red;
}
.confirmed {
	padding: 0px;
	border: 2px solid red;
}
